*.swp
vendor/
tests/test_calc
tests/test_check
TwoPointers/RemoveDuplicatesFromSortedArray/test_solution
TwoPointers/MergeSortedArray/test_solution
TwoPointers/IntersectionOfTwoArrays2/test_solution
TwoPointers/TwoSum2/test_solution
TwoPointers/TwoSum4/test_solution
